@{
    string initials = string.Empty;

    var nameSegments = User.Identity.Name.Split(' ');

    initials = nameSegments[0].ToUpper().Substring(0, 1);

    if (nameSegments.Length > 1)

        initials += $" {nameSegments.Last().ToUpper().Substring(0, 1)}"; ;
}

<div class="dropdown">
    <button class="btn btn-secondary rounded-circle shadow-4 text-white bg-info p-2" type="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        <strong>@initials</strong>
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" asp-controller="Home" asp-action="Logout">Logout</a></li>
    </ul>
</div>