@model RTCodingExercise.Microservices.Models.UserModel
@{
    ViewData["Title"] = "Hello";
}

<hr />

<div class="row">
    <div class="col">
        <form class="d-flex" role="search">
            <input id="plateSearch" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button type="button" id="plateSearchBtn" class="btn btn-outline-success">Search</button>
        </form>
    </div>
    <div class="col-2">
        <select class="form-select" id="sort" aria-label="Sort By">
            <option value="SalePrice,asc" selected>Price ascending</option>
            <option value="SalePrice,desc">Price descending</option>
        </select>
    </div>
    @if (User.IsInRole(RTCodingExercise.Microservices.Services.Roles.HeadOfComercialOps))
    {
        <div class="col-1">
            <button class="btn btn-primary" id="createPlate">+</button>
        </div>
    }
</div>

<hr />

<span id="searchResults">

</span>

<hr />

<div class="d-flex align-items-center pt-2">
    <div>
        <button id="previousBtn" type="button" class="btn btn-outline-dark" disabled>Previous</button>
    </div>
    <div class="flex-grow-1 text-center">
        <div><span id="currentPage"></span></div>
    </div>
    <div>
        <button id="nextBtn" type="button" class="btn btn-outline-dark" disabled>Next</button>
    </div>
</div>

<template id="plateTemplate">
    <div class="row result align-items-center py-2">
        <div class="col-4">
            <strong class="reg px-2 rounded bg-warning border border-dark"></strong>
        </div>
        <div class="col-4 salePrice"></div>
        <div class="col-4">
            <div class="btn-group">
                <button type="button" class="btn btn-primary buy">Buy</button>

                @if (User.IsInRole(RTCodingExercise.Microservices.Services.Roles.HeadOfComercialOps))
                {
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <button class="dropdown-item delete">Delete</button>
                        </li>
                        <li>
                            <button class="dropdown-item reserve">Reserve</button>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
</template>

<div class="modal" tabindex="-1" id="createPlateModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create a Plate</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="d-flex flex-column">
                    <div class="form-group">
                        <label for="reg" class="control-label">Registration Number</label>
                        <input name="reg" id="reg" type="text" class="form-control" />
                    </div>
                    <div class="form-group pt-2">
                        <label for="purchasePrice" class="control-label">Purchase Price</label>
                        <input name="pp" id="purchasePrice" type="number" class="form-control" />
                    </div>
                    <div class="form-group pt-2">
                        <label for="salePrice" class="control-label">Sale Price</label>
                        <input name="sp" id="salePrice" type="number" class="form-control" />
                    </div>
                    <hr>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="ms-2 btn btn-primary save">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="module" src="~/js/index.js" asp-append-version="true"></script>
}